<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My List - Minder</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="mylist.js" defer></script>
</head>
<body>
    <nav class="sidebar">
    <h2>Minder</h2>
    <ul>
        <li><a href="home.html" class="{{active_explore}}">Explore</a></li>
        <li><a href="mylist.html" class="{{active_mylist}}">My List</a></li>
        <li><a href="search.html" class="{{active_search}}">Search</a></li>
        <li><a href="profile.html" class="{{active_profile}}">Profile</a></li>
    </ul>
</nav>
    <div class="content">
        <h1>My Movie List</h1>
        <div id="myList"></div>
    </div>
</body>
</html>