<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile - Minder</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <script src="/static/js/common.js" defer></script>
    <script src="/static/js/profile.js" defer></script>

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
          <i class='bx bx-brain icon'></i>
            <div class="logo_name">Minder</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="search.html">
              <i class='bx bx-search-alt'></i>
              <span class="links_name">Search</span>
            </a>
             <span class="tooltip">Search</span>
          </li>
          <li>
            <a href="explore.html">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Explore</span>
            </a>
             <span class="tooltip">Explore</span>
          </li>
         <li>
           <a href="mylist.html">
             <i class='bx bx-heart' ></i>
             <span class="links_name">Saved Movies</span>
           </a>
           <span class="tooltip">Saved Movies</span>
         </li>
         <li>
           <a href="profile.html">
             <i class='bx bx-cog' ></i>
             <span class="links_name">Profile</span>
           </a>
           <span class="tooltip">Profile</span>
         </li>
         <li class="profile">
             <div class="profile-details">
                <img src="/static/images/pngtree-isolated-cat-on-white-background-png-image_7094927.png" alt="profileImg">
               <div class="name_job">
                 <div class="name" id="sidebar-name">Loading...</div>
               </div>
             </div>
             <i class='bx bx-log-out' id="log_out" ></i>
         </li>
        </ul>
      </div>

      <section class="content-section">
        <div class="profile-container">
            <div class="profile-header">
                <h1>Your Profile</h1>
                <div class="edit-controls">
                    <button id="discardBtn">Discard</button>
                    <button id="saveBtn"><i class='bx bx-save'></i>Save</button>
                </div>
                <button id="editBtn"><i class='bx bx-edit'></i>Edit</button>
            </div>

            <div class="user-information">
                <!-- Personal information elements -->
                <div class="personalInfo-container">
                    <h3><i class='bx bxs-user' ></i>Personal Information</h3>
                    <div class="user-identity">
                        <div id="firstName-container">
                            <p>First Name</p>
                            <div class="view-mode">
                                <span id="firstName-view">Loading...</span>
                            </div>
                            <div class="edit-mode">
                                <input type="text" id="firstName-input">
                            </div>
                        </div>
                        <div id="lastName-container">
                            <p>Last Name</p>
                            <div class="view-mode">
                                <span id="lastName-view">Loading...</span>
                            </div>
                            <div class="edit-mode">
                                <input type="text" id="lastName-input">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Personal credentials elements -->
                <div class="personCred-container">
                    <h3><i class='bx bxs-user' ></i>Personal credentials</h3>
                    <div class="user-credentials">
                        <div class="credentials">
                            <div id="email-container">
                                <p>Email Address</p>
                                <div class="view-mode">
                                    <span id="email-view">Loading...</span>
                                </div>
                                <div class="edit-mode">
                                    <input type="text" id="email-input" disabled>
                                </div>
                            </div>
                            <div id="password-container">
                                <p>Password</p>
                                <div class="view-mode">
                                    <span id="password-view">••••••••</span>
                                </div>
                                <div class="edit-mode">
                                    <input type="password" id="password-input" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
</body>
</html>