<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile - Minder</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/profile.js" defer></script>
</head>
<body>
   <nav class="sidebar">
        <div id="minder-title">
            <h2>Minder</h2>
        </div>
        <ul>
            <li><a href="explore.html" class="{{active_explore}}">Explore</a></li>
            <li><a href="mylist.html" class="{{active_mylist}}">My List</a></li>
            <li><a href="search.html" class="{{active_search}}">Search</a></li>
            <li><a href="profile.html" class="{{active_profile}}">Profile</a></li>
        </ul>
    </nav>

    
    <div class="content">
        <div class="content-container">
            <h1>Edit Profile</h1>
            <div class="profile-container">
                <div class="profile-card">
                    <h3 class="profile-header">Personal Info</h3>
                    <div class="profile-btn">
                        <button class="profile-edit">Edit</button>
                    </div>

                    <div class="information-container">
                        <div class="info">
                            <p>Email</p>
                            <p id="email-info">nguyenryan142002@gmail.com</p>
                            
                        </div>
                        <div class="info">
                            <p>Password</p>
                            <p id="password-info">23120490322</p>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
</html>