<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="/static/css/signup.css">
    <script src="/static/js/auth.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1>Join Us!</h1>
            <p>Create Your Account</p>
        </div>
        <div class="right-panel">
            <h2><span class="highlight">Sign Up</span></h2>
            <form action="/submit" id="signup_form">
                <input type="text" placeholder="Full Name" id="fullName" required>
                <input type="email" placeholder="Email Address" id="email" required>
                <input type="password" placeholder="Password" id="password" required>
                <input type="password" placeholder="Confirm Password" id="confirm-password" required>
                <span id="message"></span>
                <button type='submit' id="submitBTN" disabled>SIGN UP</button>

            </form>
            <a href="index.html" class="login-link">Already have an account?</a>
        </div>
    </div>
</body>
</html>