<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Suggestions - Minder</title>
    <link rel="stylesheet" href="/static/css/suggestion.css" />
    <script src="/static/js/suggestions.js" defer></script>
    <script src="https://kit.fontawesome.com/bd788bc946.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="content">
      <div class="movie_header">
        <h1>Movie Suggestions</h1>
        <p>
          Click 'Yes' to keep a movie and get similar suggestions, or 'No' to
          replace it.</p>
      </div>

      <div id="suggestionContainer">
        <div id="movieContainer">
          <div>
            <h2 id="movie-title"></h2>
            <div class="test">
              <p id="movie-genre"></p>
              <p id="movie-year"></p>

            </div>
          </div>
  
            <div class="movie_info">
              <div id="rating_container">
                <p id="movie-rating"></p>
              </div>
            </div>

        </div>
        <div class="buttonsContainer">
            <button id="yes-btn">Yes 👍</button>
            <button id="no-btn">No 👎</button>
        </div>
      </div>

    </div>
  </body>
</html>
